@model Mission06_Mitton.Models.Movie

<h2>Success!</h2>
<p>@Model.Title has been added to Joel's collection.</p>
<a asp-controller="Home" asp-action="AddMovie" class="btn btn-primary">Add Another Movie</a>