@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <br />
    <img src="~/JoelHiltonHeadshot.jpg" alt="Joel Hilton Headshot" style="max-width: 600px; height: auto;" />
</div>