@{
    ViewData["Title"] = "Get to Know Joel";
}

<div class="text-center">
    <h2>Get to Know Joel</h2>
    <p>Check out Joel's regular comedy performances at <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>.</p>

    <p>Listen to his weekly podcast about films & pop culture:</p>
    <a href="https://baconsale.com/" target="_blank">
        <img src="https://byu.box.com/shared/static/ie6ibeddqm0f6oudp7bc5dyt87zxi2u4.jpg" alt="Baconsale Podcast" style="max-width: 400px; height: auto;" />
    </a>
</div>